<%= form_with(model: replay_msg, local: true) do |form| %>
  <% if replay_msg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(replay_msg.errors.count, "error") %> prohibited this replay_msg from being saved:</h2>

      <ul>
      <% replay_msg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  反応する言葉
  <br>
  <%= form.text_field :react_msg%>
  <br>
  反応する言葉(含む)
  <br>
  <%= form.text_field :react_including_msg%>
  <br>
  返す言葉 ※半角スペースを空けていくつか登録するとその中からランダムで返すようになります。
  <br>
  例(にゃん にゃんこ わんわん)
  <br>
  <%= form.text_field :replay%>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
