<%= form_with(model: sudachi_image, local: true) do |form| %>
  <% if sudachi_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sudachi_image.errors.count, "error") %> prohibited this sudachi_image from being saved:</h2>

      <ul>
      <% sudachi_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :sudachi_image_image %>
  </div>

  <div class="actions">
    <%= form.submit('登録する') %>
  </div>
<% end %>
